@mixin dark-interface {
  background-color: $dark-bg;
  color: $dark-text;

  --link-color: #{$dark-link};
  --link-color-hover: #{darken($dark-link, 10%)};
  --pre-color: #{darken($light, 10%)};

  .btn-primary { // TODO: Remove
    color: white;
  }

  .navbar-anli {
    background-color: $dark;

    .navbar-nav {
      .nav-link {
        text-transform: uppercase;
        color: rgba($dark-text, 0.4);

        &:hover, &:active {
          color: rgba($dark-text, 0.7);
        }

        &:focus {
          color: rgba($dark-text, 0.9);
        }
      }

      .nav-item.active .nav-link {
        color: $dark-text;
      }
    }
  }

  .navbar-social a {
    color: rgba($dark-text, 0.5);

    &:hover, &:active {
      color: rgba($dark-text, 0.7);
    }

    &:focus {
      color: rgba($dark-text, 0.9);
    }
  }

  .jumbo-header {
    background-color: $dark;
    color: $dark-link;
  }

  .project {
    background-color: $text;
    color: $dark-text;

    &:hover {
      color: $dark-text;
    }
  }

  .shadow-hover:not(:hover) {
    box-shadow: $box-shadow-sm;
  }

  .page-link {
    background-color: $dark-bg;
    border-color: $dark;
    color: $dark-text;

    &:hover {
      background-color: lighten($dark-bg, 10%);
      border-color: $dark;
      color: $dark-link;
    }
  }

  .page-item.disabled .page-link {
    background-color: $dark-bg;
    border-color: $dark;
    color: lighten($dark-bg, 40%);
  }

  .breadcrumb {
    background-color: lighten($dark-bg, 5%);
  }

  .breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item.active {
    color: rgba($dark-text, 0.4);
  }

  .form-control {
    background-color: $dark;
    border-color: $dark;
    color: $dark-text;

    &:focus {
      background-color: lighten($dark, 5%);
      color: $dark-text;
      border-color: lighten($dark, 30%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-interface;
  }
}