@import url("https://use.typekit.net/gmf2sso.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@import '~bootstrap/scss/functions';
@import 'variables';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
$theme-colors: map-merge($theme-colors, $custom-colors);
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/offcanvas';
@import '~bootstrap/scss/helpers';
@import '~bootstrap/scss/utilities/api';

:root {
  --link-color: #{$link-color};
  --link-color-hover: #{$link-hover-color};

  --pre-color: #{$pre-color};
}

html, body {
  min-height: 100%;
}

a {
  color: var(--link-color);

  &:hover, &:active, &:focus {
    color: var(--link-color-hover);
  }
}

pre {
  color: var(--pre-color);
}

h1 {
  @include media-breakpoint-down("sm") {
    font-size: $h1-font-size-sm;
  }
}

.pointer-events-none {
  pointer-events: none !important;
}

.list-style-none {
  list-style: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.footer {
  background-color: $footer-bg;
  color: $footer-color;

  a {
    color: $footer-color;

    &:hover, &:active, &:focus {
      color: rgba($footer-color, 0.8);
    }
  }
}

#main-navbar.sticky-top {
  .navbar-brand {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .navbar-nav {
    right: $navbar-brand-height + $navbar-padding-x;
    transition: right 0.5s;
  }

  &.showing-brand {
    .navbar-brand {
      opacity: 1;
    }

    .navbar-nav {
      right: 0;
    }
  }
}

@include media-breakpoint-up("md") {
  #main-navbar.sticky-top .navbar-nav {
    position: relative;
  }
}

.sticky-top {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    position: -webkit-sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}

.heading-muted {
  text-transform: uppercase;
  font-size: $font-size-base;
  letter-spacing: 1px;
}

.shadow-hover {
  box-shadow: $box-shadow;
  transition: box-shadow 0.2s, background-color 0.2s;

  &:hover, &:focus {
     box-shadow: $box-shadow-lg;
  }
}

@import 'dark';

.anchor {
  position: relative;
  top: $anchor-offset;
  visibility: hidden;
}